.quote-container {
  text-align: center;
  width: 500px;
  height: 320px;
  background-color: aqua;
  margin: 50px auto;
  border-radius: 30px;
  border: black 1px solid;
  background-size: cover;
}
#title {
  padding-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.quote-box {
  background-color: #fab75f;
  border-radius: 20px;
  width: 450px;
  margin: auto;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
}
p {
  font-size: 18px;
  font-weight: 500;
}
